# Node
backend/node_modules
backend/package-lock.json

# Android / Gradle
frontend/.gradle
frontend/build
frontend/caches
frontend/daemon
frontend/wrapper/dists
frontend/local.properties

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode